.header-container {
    position: relative;
    top: 10px;
    display: grid;
    grid-template-columns: 0.2fr .1fr .2fr 2fr;
}

.search-text {
    padding: 15px;
    width: 100%;
    border-radius: 5px;
    background-color: #eaeef1;
    border: none;
    display: flex;
}

.search-form {
    background-color: #eaeef1;
    border: none;
    border-radius: 5px;
    width: 70%;
}

.search-form svg {
    position: relative;
    top: 10px;
    cursor: pointer;
    margin-right: 10px;
    margin-left: 10px;
}

.gmail-logo-header {
    margin-left: 15%;
}